<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echo HMR</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <h1>This is a Go Hotter than hot Module Replacement (HMR) in Echo</h1>
    <h2>...that sort of works some of the time</h2>
    <h3>...but not always!!!</h3>
    <h4>
      but it seems to work better in vscode, rather than neovim ...maybe
      something to do with how neovim saves things!?
    </h4>
    <h5>
      .... or not? ...actually that might just be it!!!... although it
      isn't!!!!!! ...well not always at least!
    </h5>
    <p>CSS and JS update without a full page reload!</p>

    <script src="/public/reload.js"></script>
  </body>
</html>
